$xs-screen: 320px;
$sm-screen: 600px;
$md-screen: 840px;
$lg-screen: 960px;
$xl-screen: 1280px;

$footer-height: 5.7rem;
$input-height: 2.4rem;
$input-height-sm: 2.9rem;
$btn-shadow-height: .2rem;

$pink: #EC407A;
$light-pink: #FFAEC9;
$dark-pink: #B52253;
$dark-gray: #414141;

$din: 'Din', sans-serif;
